{% extends 'cliente/index.html.twig' %}

{% block title %}Rutas | {{parent()}} {% endblock %}


{% block stylesheets %}
    {{ parent() }}
       <style>
    .btn-reservar {
        width: 100%;
        background-color: black;
        color: white;
        margin-top: auto; /* Empuja el botón hacia abajo */
    }

</style>
{% endblock %}

{% block body %}

{#......................................CABEZERA.....................................................................#}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="hstack gap-3">
    <!-- Logo y título -->
    <div class="p-2">
        <a class="nav-link" href="{{ path('app_cliente') }}">
            <img src="{{ asset('img/logo.png') }}" alt="Logo" width="100" class="d-inline-block align-text-top">
        </a>
        
    </div>
    <div class="p-2">
        <h2 class="link-dangerous">FREE TOURS POR ESPAÑA</h2>
    </div>

    <!-- Menu -->
    <div class="p-2 d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2">
        <a class="nav-link link-success">Rutas</a>
    </div>
    <div class="p-2" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Mis reservas">
        <a class="nav-link" id="reservas-link"  href="{{ path('app_cliente_ver_reservas') }}">Reservas</a>
    </div>
    <div class="p-2">
        <a class="nav-link" id="otraOpcion-link" href="{{path('app_cliente_valoracion') }}">Valoraciones</a>
    </div>

    <!-- Botón de cerrar sesión -->
  <div class="p-2 dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        {{ app.user.email }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar Sesión</a></li>
    </ul>
</div>
</div>
  {% endif %}

{% endblock %}



{% block main %}
{#............................................RUTAS..........................................................#}
<div class="container mt-5">
    <div class="row">
        <!-- Columna de la izquierda con la información de los tours -->
        <div class="col-md-8">
            <div id="visitasAccordion" class="accordion">
                {% for ruta in rutas['rutas'] %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="ruta{{ loop.index }}Heading">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#ruta{{ loop.index }}Collapse" aria-expanded="false" aria-controls="ruta{{ loop.index }}Collapse">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{{ asset('public/img/visitas/' ~ ruta['foto']) }}" class="img-fluid" alt="{{ ruta['nombre'] }}" style="width: 200px; height: 200px; object-fit: cover;">
                                    </div>
                                    <div class="col-md-8 text-justify">
                                        <h1 class="text-uppercase" style="color: #6d4d00;"><i>{{ ruta['nombre'] }}</i></h1>
                                        {# <h3>{{ ruta['descripcion']|raw }}</h3> #}
                                        <h5><i class="bi bi-calendar"></i> Fechas disponibles : <strong> {{ ruta['fecha_inicio']|date('Y-m-d') ~ ' - ' ~ ruta['fecha_fin']|date('Y-m-d') }} </strong></h5>
                                        <p>Reserva tu tour para la fecha que desees</p>
                                        <p><i class="fab fa-mdb"></i> PRECIO: <strong style="color: red;"> 0€ </strong></p>
                                    </div>
                                </div>
                            </button>
                        </h2>
                        <div id="ruta{{ loop.index }}Collapse" class="accordion-collapse collapse" aria-labelledby="ruta{{ loop.index }}Heading" data-bs-parent="#visitasAccordion">
                            <div class="accordion-body">
                                <div style="display: grid; grid-template-columns: repeat(5, 1fr); gap: 10px;">
                                    {% for tour in ruta['tours'] %}
                                        <div>
                                            {{ tour['fecha_hora'] }}
                                            <a href="{{ path('reservar_tour', {'tourId': tour['id'], 'userId': app.user.id}) }}" class="btn btn-reservar btn-primary">Reservar Tour</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
       <!-- Columna de la derecha para filtrar -->
<div class="col-md-4">
    <h2>Filtrar</h2>
    <form>
        <div class="mb-3">
            <label for="provincia" class="form-label">Provincia</label>
            <select class="form-select" id="provincia">
                <!-- Aquí puedes agregar las opciones para las provincias -->
                <option selected>Selecciona una provincia</option>
                <option value="1">Provincia 1</option>
                <option value="2">Provincia 2</option>
                <option value="3">Provincia 3</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingresa un nombre">
        </div>
        <div class="mb-3">
            <label for="fecha_inicio" class="form-label">Fecha de inicio</label>
            <input type="date" class="form-control" id="fecha_inicio">
        </div>
        <div class="mb-3">
            <label for="fecha_fin" class="form-label">Fecha de fin</label>
            <input type="date" class="form-control" id="fecha_fin">
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </form>
    <div class="col-md-4 trustpoints">
 <img src="{{ asset('img/logo.png') }}" alt="Logo" width="400px" class="">
</div>
</div>






{# <div class="container">
    <div class="row">
        {% for ruta in rutas.rutas %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ asset('public/img/visitas/' ~ ruta.foto) }}" class="card-img-top" alt="{{ ruta.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ ruta.nombre }} {{ruta.id}} </h5>
                        <p class="card-text">{{ ruta.descripcion|raw }}</p>
                      <a  data-id="{{ ruta.id }}" data-user-id="{{ app.user.id }}" class="btn btn-primary reservar-tour">Reservar Tour</a>

                    </div>
                </div>
            </div>
            {% if loop.index is divisible by(3) %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div> #}

{#..........................................................................................................#}

{#............................................MODAL..........................................................#}

<div class="modal fade" id="tourModal" tabindex="-1" aria-labelledby="tourModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tourModalLabel">Detalles del Tour</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="tourModalBody">
        <!-- Los detalles del tour se llenarán aquí -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="#" id="reservarButton" class="btn btn-primary">Reservar</a>
      </div>
    </div>
  </div>
</div> 

{% endblock %}