{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/controlCliente.js') }}"></script>
{% endblock %}

{% block body %}

{#......................................CABEZERA.....................................................................#}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="hstack gap-3">
    <!-- Logo y título -->
    <div class="p-2">
        <a class="nav-link" href="{{ path('app_cliente') }}">
            <img src="{{ asset('img/logo.png') }}" alt="Logo" width="100" class="d-inline-block align-text-top">
        </a>
        
    </div>
    <div class="p-2">
        <h2 class="link-dangerous">FREE TOURS POR ESPAÑA</h2>
    </div>

    <!-- Opciones -->
    <div class="p-2 d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2">
        <a class="nav-link link-success">Rutas</a>
    </div>
    <div class="p-2">
        <a class="nav-link" id="reservas-link"  href="{{ path('app_cliente_ver_reservas') }}">Reservas</a>
    </div>
    <div class="p-2">
        <a class="nav-link" id="otraOpcion-link" href="#">Otra opcion</a>
    </div>

    <!-- Botón de cerrar sesión -->
  <div class="p-2 dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        {{ app.user.email }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Ajustes</a></li>
        <li><a class="dropdown-item" href="#">Correo</a></li>
        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar Sesión</a></li>
    </ul>
</div>
</div>
  {% endif %}

{#......................................................................................................#}


{#............................................RUTAS..........................................................#}
<div class="container">
    <div class="row">
        {% for ruta in rutas.rutas %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ asset('public/img/visitas/' ~ ruta.foto) }}" class="card-img-top" alt="{{ ruta.nombre }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ ruta.nombre }} {{ruta.id}} </h5>
                        <p class="card-text">{{ ruta.descripcion|raw }}</p>
                      <a  data-id="{{ ruta.id }}" data-user-id="{{ app.user.id }}" class="btn btn-primary reservar-tour">Reservar Tour</a>

                    </div>
                </div>
            </div>
            {% if loop.index is divisible by(3) %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>
</div>

{#..........................................................................................................#}

{#............................................MODAL..........................................................#}

<div class="modal fade" id="tourModal" tabindex="-1" aria-labelledby="tourModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tourModalLabel">Detalles del Tour</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="tourModalBody">
        <!-- Los detalles del tour se llenarán aquí -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <a href="#" id="reservarButton" class="btn btn-primary">Reservar</a>
      </div>
    </div>
  </div>
</div> 

{% endblock %}