{% extends 'cliente/rutas.html.twig' %}

{% block title %} Tour | {{ parent() }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{{ asset('js/muestraMapa.js') }}" defer></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
     <style>
    .carousel-item img {
        height: 400px;
        /* Ajusta el ancho según tus necesidades */
        width: auto;
    }
</style>

{% endblock %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="hstack gap-3">
    <!-- Logo y título -->
    <div class="p-2">
        <a class="nav-link" href="{{ path('app_cliente') }}">
            <img src="{{ asset('img/logo.png') }}" alt="Logo" width="100" class="d-inline-block align-text-top">
        </a>
        
    </div>
    <div class="p-2">
        <h2 class="link-dangerous">FREE TOURS POR ESPAÑA</h2>
    </div>

    <!-- Opciones -->
    <div class="p-2 d-inline-flex focus-ring py-1 px-2 text-decoration-none border rounded-2">
        <a class="nav-link link-success">Rutas</a>
    </div>
    <div class="p-2">
        <a class="nav-link" id="reservas-link"  href="{{ path('app_cliente_ver_reservas') }}">Reservas</a>
    </div>
    <div class="p-2">
        <a class="nav-link" id="otraOpcion-link" href="#">Otra opcion</a>
    </div>

    <!-- Botón de cerrar sesión -->
  <div class="p-2 dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        {{ app.user.email }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Ajustes</a></li>
        <li><a class="dropdown-item" href="#">Correo</a></li>
        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar Sesión</a></li>
    </ul>
</div>
</div>
  {% endif %}



{% block main %}
<main> 
<div class="container mt-5">
    <div class="row">
         <h1> <p> {{ ruta.getNombre() }} <p> </h1>
        <div class="col-md-6">
            
      

            <img src="{{ asset('public/img/visitas/' ~ ruta.foto) }}" class="img-fluid mb-3" alt="{{ ruta.nombre }}">
            <p><strong>Descripción de la Ruta:</strong> {{ ruta.getDescripcion() }}</p>
            <p><strong>Fecha y Hora:</strong> {{ tour.getFechaHora()|date('Y-m-d H:i:s') }}</p>  
            <p><strong>Participantes:</strong> {{ ruta.getparticipantes() }}</p>
            {# <p><strong>ID del Tour:</strong> {{ tour.getId() }}</p> #}
            {# <p><strong>Nombre de la Ruta:</strong> {{ tour.getCodRuta().getNombre() }}</p> #}
            {# <p><strong>ID del Guía:</strong> {{ tour.getIdGuide() }}</p> #}
            <H2>Visitas</H2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="visitasCarousel" class="carousel slide border border-primary rounded" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for visita in visitas %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ asset('public/img/visitas/' ~ visita.foto) }}" class="d-block w-100" alt="{{ visita.getNombre() }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-primary">{{ visita.getNombre() }}</h5>
                                <p>{{ visita.getDescripcion() }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#visitasCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#visitasCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>




     {# <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="visitasCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for visita in visitas %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <img src="{{ asset('public/img/visitas/' ~ visita.foto) }}" class="d-block w-100" alt="{{ visita.getNombre() }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-primary">{{ visita.getNombre() }}</h5>
                                <p>{{ visita.getDescripcion() }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#visitasCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#visitasCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div> #}

           
            {# <p><strong>Punto de Encuentro:</strong> {{ ruta.getPuntoInicio() }}</p>
            <div id="map" style="height: 400px;" data-punto-inicio="{{ ruta.getPuntoInicio()|json_encode }}"></div> #}
        </div>

        <div class="col-md-6">
            <div class="bg-light p-4 rounded">
                <h2 class="text-primary mb-4">Formulario de Reserva</h2>
                {{ form_start(form) }}
                    {{ form_row(form.fecha_reserva, {'label': 'Fecha de Reserva', 'attr': {'class': 'form-control', 'readonly': true}}) }}
                    {{ form_row(form.asistentes, {'label': 'Número de Asistentes', 'attr': {'class': 'form-control'}}) }}
                    {{ form_widget(form.num_gente_reserva, {'attr': {'style': 'display:none'}}) }}
                    {{ form_row(form.save, {'label': 'Reservar', 'attr': {'class': 'btn btn-primary btn-lg btn-block'}}) }}
                {{ form_end(form) }}
            </div>
         <p><strong>Punto de Encuentro:</strong> {{ ruta.getPuntoInicio() }}</p>
            <div id="map" style="height: 400px;" data-punto-inicio="{{ ruta.getPuntoInicio()|json_encode }}"></div>
    </div>
        </div>
       
     
</div>

</main>
{% endblock %}






{% endblock %}
