{% extends 'base.html.twig' %}

{% block title %} Web Geffrey {% endblock %}


{% block body %}

<div class="hstack gap-3 classHome" >
  <div class="p-2"> <img src="{{ asset('img/logo.png') }}" alt="Logo" width="100" class="d-inline-block align-text-top"></div>
  <div class="p-2"> <h2 class="link-dangerous">FreeTours.gz</h2></div>
 
  <div class="p-2 ms-auto"> <a class="nav-link" href="{{ path('app_register') }}">Registrate</a></div>
  <div class="vr"></div>
  <div class="p-2"> <a class="nav-link" href="{{ path('app_login') }}">Inicia sesion</a></div>
</div>

<div class="d-flex justify-content-between bienvenida">
  <h1 class="text-start"><span> Bienvenido <hr> Encuentra tu próxima ruta...</span></h1>
  <div class="dropdown redesSociales">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Redes Sociales
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="https://www.instagram.com/">Instagram</a></li>
      <li><a class="dropdown-item" href="#">Twitter</a></li>
      <li><a class="dropdown-item" href="#">Facebook</a></li>
    </ul>
  </div>
</div>

  <div class="container-fluid my-4">
    <form class="d-flex"  role="search">
      <input class="form-control me-2" type="search" placeholder="¿En que lugar te gustaria hacer una ruta?" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div>
      <p>Elige fecha: <input type="text" id="datepicker"></p>
    </div>

  </div>

  


<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
    <img src="{{ asset('img/jaen.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jaén</h5>
        <p class="card-text">Entre sus atractivos destacan la Catedral, joya arquitectónica del Renacimiento español y el Castillo de Santa Catalina, además de ser "Capital Mundial del Aceite de Oliva"</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <img src="{{ asset('img/Cordoba.jpg') }}"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cordoba</h5>
        <p class="card-text"> Fue la capital de la Hispania Ulterior durante la República romana, de la provincia Bética durante el Imperio romano y del Califato de Córdoba durante la época musulmana</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <img src="{{ asset('img/granada.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Granada</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <img src="{{ asset('img/malaga.jpg') }}"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Málaga</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
