{% extends 'base.html.twig' %}

{% block title %} Web Geffrey {% endblock %}


{% block body %}



<div class="hstack gap-3 classHome" >
  <div class="p-2"> <img src="{{ asset('img/logo.png') }}" alt="Logo" width="100" class="d-inline-block align-text-top"></div>
  <div class="p-2"> <h2 class="link-dangerous">FREETOURS IN SPAIN</h2></div>
 
  <div class="p-2 ms-auto"> <a class="nav-link" href="{{ path('app_register') }}">Registrate</a></div>
  <div class="vr"></div>
  <div class="p-2"> <a class="nav-link" href="{{ path('app_login') }}">Inicia sesion</a></div>
</div>
{##############################################
################## PRIMERA CABEZERA############################ 
<div class="d-flex justify-content-between bienvenida">
  <h1 class="text-start"><span> Bienvenido <hr> Encuentra tu próxima ruta...</span></h1>
  <div class="dropdown redesSociales">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Redes Sociales
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="https://www.instagram.com/">Instagram</a></li>
      <li><a class="dropdown-item" href="#">Twitter</a></li>
      <li><a class="dropdown-item" href="#">Facebook</a></li>
    </ul>
  </div>
</div>

  <div class="container-fluid my-4">
    <form class="d-flex"  role="search">
      <input class="form-control me-2" type="search" placeholder="¿En que lugar te gustaria hacer una ruta?" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div>
      <p>Elige fecha: <input type="text" id="datepicker"></p>
    </div>

  </div>

  
######################################################################}
{#_____________EL NAV______________________ #}

{# {% include 'nav.html.twig' %} #}


  <!-- Background image -->

  {# <style>
    /* Default height for small devices */
    #intro-example {
      height: 300px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 300px;
      }
    }
  </style> #}

  <div
    {# id="intro-example" #}
    class="text-center bg-image imageHeader"
   
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white mb-2">
          {# <h1 class="mb-3">FREETOURS.GZ</h1> #}
          <h5 class="mt-3 mb-4">¡WELCOME!, find your next route...</h5>
          
           <div data-mdb-ripple-init
            class="btn btn-outline-light btn-lg m-2"> 
         <form  class="d-flex"  role="search">
            <input class="form-control me-2" type="search" placeholder="¿Málaga, Barcelona ó ....?" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
       </form>
       </div>
          <p
          data-mdb-ripple-init
            class="btn btn-outline-light btn-lg m-2">
           Elige fecha: <input type="text" id="datepicker"></p>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Background image -->
</header>




<div class="row row-cols-1 row-cols-md-3 g-4 mt-1 mb-2">
  <div class="col">
    <div class="card h-100">
        <img src="{{ asset('img/jaen.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jaén</h5>
       <p class="card-text">Entre sus atractivos destacan la Catedral, joya arquitectónica del Renacimiento español y el Castillo de Santa Catalina, además de ser "Capital Mundial del Aceite de Oliva"</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
    <img src="{{ asset('img/cordobaaaa.jpg') }}"class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title">Cordoba</h5>
        <p class="card-text"> Fue la capital de la Hispania Ulterior durante la República romana, de la provincia Bética durante el Imperio romano y del Califato de Córdoba durante la época musulmana</p>
      </div>
    
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
       <img src="{{ asset('img/granada.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title">Granada</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
     
    </div>
  </div>
</div>
</div>
{#******************************footer*******************************************#}
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #929fba"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer
              content. Lorem ipsum dolor sit amet, consectetur adipisicing
              elit.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p>
              <a class="text-white">MDBootstrap</a>
            </p>
            <p>
              <a class="text-white">MDWordPress</a>
            </p>
            <p>
              <a class="text-white">BrandFlow</a>
            </p>
            <p>
              <a class="text-white">Bootstrap Angular</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
            <p><i class="fas fa-envelope mr-3"></i> info@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

            <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="#!"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="#!"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #dd4b39"
               href="#!"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac"
               href="#!"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="#!"
               role="button"
               ><i class="fab fa-linkedin-in"></i
              ></a>
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="#!"
               role="button"
               ><i class="fab fa-github"></i
              ></a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2024 Copyright:
      <a class="text-white" href="#"
         >FreeTours.gz</a
        >
    </div>
    <!-- Copyright -->
  </footer>
{# <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
    <img src="{{ asset('img/jaen.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jaén</h5>
        <p class="card-text">Entre sus atractivos destacan la Catedral, joya arquitectónica del Renacimiento español y el Castillo de Santa Catalina, además de ser "Capital Mundial del Aceite de Oliva"</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <img src="{{ asset('img/Cordoba.jpg') }}"class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cordoba</h5>
        <p class="card-text"> Fue la capital de la Hispania Ulterior durante la República romana, de la provincia Bética durante el Imperio romano y del Califato de Córdoba durante la época musulmana</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <img src="{{ asset('img/granada.jpg') }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Granada</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <img src="{{ asset('img/malaga.jpg') }}"  class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Málaga</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div> #}

{% endblock %}
