{% extends 'base.html.twig' %}

{% block title %}GUIA{% endblock %}

{% block javascripts %}
{{ parent() }}
  {% endblock %}


{% block stylesheets %}
    {{ parent() }}
    
    <style>
   .card {
        position: relative;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    .btn-reservar {
        width: 100%;
        background-color: black;
        color: white;
        margin-top: auto; /* Empuja el botón hacia abajo */
    }

    .main {
        background-color: #faf3d2a1;
    }


</style>
{% endblock %}



{% block body %}




{#................CABEZERA......................#}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div class="hstack gap-3">
    <!-- Logo y título -->
    <div class="p-2">
        <a class="nav-link" href="{{ path('app_guide') }}">
            <img src="{{ asset('img/logo.png') }}" alt="Logo" width="100" class="d-inline-block align-text-top">
        </a>
        
    </div>
    <div class="p-2">
        <h2 class="link-dangerous">FREE TOURS POR ESPAÑA</h2>
    </div>

    <!-- Opciones -->
    <div class="p-2">
        <a class="nav-link"  href="{{ path('app_guide_tours_asignados') }}">Rutas asignadas</a>
    </div>
     <div class="p-2">
        <a class="nav-link" href="{{ path('app_guide_informe') }}">Informes de tour</a>
    </div>

    <div class="p-2">
        <a class="nav-link" href="{{ path('app_pasar_lista') }}">Pasar lista</a>
    </div>

    <!-- Botón de cerrar sesión -->
  <div class="p-2 dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        {{ app.user.email }}
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {# <li><a class="dropdown-item" href="#">Ajustes</a></li>
        <li><a class="dropdown-item" href="#">Correo</a></li> #}
        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Cerrar Sesión</a></li>
    </ul>
</div>
</div>

  {% endif %}

{% endblock %}


{% block main %}


{#..........................CARRUSEL CONBINADO CON TARJETAS.................................................................................#}

<div class="row row-cols-1 row-cols-md-3 g-4 mt-1 mb-2" style="margin-left: 2px; margin-right:2px">
    <div class="col">
    <div class="card h-100">
    <img src="{{ asset('img/barcelona.jpg') }}"class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title">Barcelona</h5>
        <p class="card-text"> Su historia rica y su arquitectura modernista y Art Nouveau la convierten en un centro cultural vibrante. Famosa por su individualidad, interés cultural y belleza física.</p>
      </div>
    
    </div>
  </div>
{#...........................................................................................................#}
  <div class="col">
  <div class="card h-100">
   <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicadores -->
        {# <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
        </ol> #}
        <!-- Slides -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ asset('img/madridddd.jpg') }}" class="d-block w-100" alt="Jaén">
                <div class="carousel-caption">
                    <h5>Madrid</h5>
                    
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/cordobaaaa.jpg') }}" class="d-block w-100" alt="Córdoba">
              <div class="carousel-caption">
                    <h5>Cordoba</h5>
                    
                </div>
            </div>
            <div class="carousel-item">
                <img src="{{ asset('img/granada.jpg') }}" class="d-block w-100" alt="Granada">
                <div class="carousel-caption">
                    <h5>Granada</h5>
                   
                </div>
            </div>
           
        </div>
         <div class="card-body">
         <h5 class="card-title text-center text-capitalize tendencia">Destinos favoritos</h5>
          {# <p class="card-text text-center text-info"> Las ciudades mas visitadas en esta época del año....</p> #}
          {# <img src="{{ asset('img/calificacion.png') }}" class="d-block w-100" > #}
       </div>
        
        <!-- Controles -->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </a>
    </div>
  </div>
  </div>
  {#........................................................................................................#}
  <div class="col">
    <div class="card h-100">
    <img src="{{ asset('img/jaenmejorciudad.jpg') }}"class="card-img-top" alt="...">
      <div class="card-body">
         <h5 class="card-title">jaen</h5>
        <p class="card-text">Entre sus atractivos destacan la Catedral, joya arquitectónica del Renacimiento español, además de ser "Capital Mundial del Aceite de Oliva".</p>
      </div>
    
    </div>
  </div>
{#..............................................................................................................#}
</div>


{#.......................TOURS DE LA BASE DE DATOS-------------------------------------------------------------------------------------------------------------------#} 



<div class="container mt-5">
    <h2 class="text-center mb-4 fw-bold text-uppercase">Las Rutas Más Destacadas</h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for ruta in rutas['rutas'] %}
            <div class="col">
                <div class="card h-100 animate__animated animate__fadeIn">
                    <img src="{{ asset('public/img/visitas/' ~ ruta['foto']) }}" class="card-img-top" alt="{{ ruta['nombre'] }}" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase" style="color: green;"><strong> <i>{{ ruta['nombre'] }}</i> </strong></h5>
                        {# <p class="card-text">{{ ruta['descripcion']|raw }}</p> #}
                        <p class="card-text"> <i> Fechas:<strong> {{ ruta['fecha_inicio']|date('Y-m-d') ~ ' - ' ~ ruta['fecha_fin']|date('Y-m-d') }}</strong></i> </p>
                        <p class="card-text" ><i class="fab fa-mdb"></i> PRECIO: <strong style="color: red;"> 0€ </strong></p>
                        <button type="button" class="btn btn-reservar" data-bs-toggle="modal" data-bs-target="#reservarModal">
                            Reservar
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="reservarModal" tabindex="-1" aria-labelledby="reservarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservarModalLabel">Reservar Tour</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Agrega aquí el contenido del modal, como formularios de inicio de sesión o registro -->
                <p>NO PUEDES RESERVAR DESDE TU PERFIL GUIA - SÉ CLIENTE</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>




{% endblock %}