{% extends 'guide/index.html.twig' %}

{% block title %}Calendario|Rutas{{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.10/index.global.min.js'></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/main.min.css' rel='stylesheet' />
    <style>
    .informe-form {
        display: none;
    }
      
    .custom-strong {
    text-decoration: underline; 
    color: #007bff; }

    .custom-title {
            font-family: 'Courier New', monospace;
            font-size: 2rem;
            font-weight: bold;
            text-decoration: underline;
            color: #ff0000; /* Rojo */
            animation: pulse 2s infinite alternate;
        }

        {# @keyframes pulse {
            from {
                transform: scale(1);
            }
            to {
                transform: scale(1.1);
            }
        } #}
    </style>
 
{% endblock %}


{% block body %}

{% include 'guide/nav.html.twig' %}


{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
              <h3 class="custom-title">Programación de Tours</h3>

                {% if tours is not empty %}
                    <div id='calendar'></div>

                    <script>
                   
                        $(document).ready(function() {
                            var events = [
                                {% for key, tour in tours %}
                                    {
                                        title: '{{ tour.getCodRuta().nombre }}',
                                        start: '{{ tour.getFechaHora()|date('Y-m-d H:i:s') }}',
                                        color: getColorForEvent('{{ tour.getFechaHora()|date('Y-m-d H:i:s') }}'),
                                        tourDetailsContainer: '#tourDetailsContainer',
                                        tourId: '{{ tour.id }}'
                                    },
                                {% endfor %}
                            ];

                            function getColorForEvent(eventDate) {
                                var currentDate = new Date();
                                var eventDateObj = new Date(eventDate);

                                if (eventDateObj < currentDate) {
                                    return 'red';
                                } else if (eventDateObj.toDateString() === currentDate.toDateString()) {
                                    return 'green';
                                } else {
                                    return 'yellow';
                                }
                            }
                            function isTourDatePassed(eventDate) {
                              var currentDate = new Date();
                                var eventDateObj = new Date(eventDate);
                             return eventDateObj < currentDate;
                            }
                            var calendarEl = document.getElementById('calendar');
                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                initialView: 'dayGridMonth',
                                locale: 'es',
                                events: events,
                               eventClick: function(info) {
                                var tourId = info.event.extendedProps.tourId;
                                var tourDetailsContainer = info.event.extendedProps.tourDetailsContainer;

                                // Oculta todos los detalles de tours
                                $(tourDetailsContainer + ' .tourDetails').hide();

                                // Muestra los detalles específicos del tour clicado
                                $(tourDetailsContainer + ' .tourDetails[data-tour-id="' + tourId + '"]').show();

                                // Establecer el valor del campo cod_tour en el formulario
                                $('select[name="informe[cod_tour]"]').val(tourId).change();
                            
                        
                                    var tourId = info.event.extendedProps.tourId;
                                    var tourDetailsContainer = info.event.extendedProps.tourDetailsContainer;
                                 var tourDate = info.event.start;
                                 if (isTourDatePassed(tourDate)) {
                                  $('.informe-form').show();
                                   } else {
                                  $('.informe-form').hide();
                                   }
                                    // Oculta todos los detalles de tours
                                    $(tourDetailsContainer + ' .tourDetails').hide();

                                    // Muestra los detalles específicos del tour clicado
                                    $(tourDetailsContainer + ' .tourDetails[data-tour-id="' + tourId + '"]').show();

                                  $('input[name="informe[cod_tour]"]').val(parseInt(tourId));
                                    $('#selectedTour').text(tourId);
                                }
                            });

                            calendar.render();
                        });
                    </script>
                {% else %}
                    <p>No tienes tours asignados.</p>
                {% endif %}
            </div>

            <div class="col-md-6">
                <div id="tourDetailsContainer">
                    {% for key, tour in tours %}
                        <div class="tourDetails" data-tour-id="{{ tour.id }}" style="display: none;">
                           <h1 class="text-danger fw-bold"> Informacion del Tour ID: {{ tour.id }}</h1>
                            <h3><strong class="custom-strong">Ruta: </strong> {{ tour.getCodRuta().nombre }} </h3> <br>
                            <ul>
                                {% for userTour in userTours[key] %}
                                    <li>
                                        
                                        <strong>UserTour ID:</strong> {{ userTour.id }}<br>
                                        <strong>Participante:</strong> {{ userTour.getCodUser().nombre }}<br>
                                        <strong>Acompañantes:</strong> {{ userTour.getAsistentes() }}<br>
                                        <strong>Fecha de Reserva:</strong> {{ userTour.getFechaReserva()|date('Y-m-d H:i:s') }}<br>
                                        Agrega más detalles según tus necesidades
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                 <div class="container mt-5">
    
          {{ form_start(form, {'attr': {'class': 'informe-form'}}) }}
          <h1 class="text-danger fw-bold"> Informe del Tour</h1>
            <div class="mb-3">
                {{ form_label(form.imagen, 'Imagen (JPG, JPEG, PNG)') }}
                {{ form_widget(form.imagen, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.observaciones) }}
                {{ form_widget(form.observaciones, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
                {{ form_label(form.recaudacion) }}
                {{ form_widget(form.recaudacion, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3">
              {{ form_label(form.cod_tour) }}
            <span id="selectedTour" class="form-control"></span>
              {{ form_widget(form.cod_tour, {'attr': {'class': 'form-select', 'style': 'display: none;'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar Informe</button>
            {{ form_end(form) }}
       
         </div>
        </div>
        </div>
    </div>
    {% endblock %}
{% endblock %}
         
